<div class="container">
  <div class="sidebar">
    <div
      class="block"
      *ngFor="let block of conditionBlocks"
      draggable="true"
      (dragstart)="dragStart($event, block)"
    >
      {{ block.name }}
    </div>
    <hr />
    <div
      class="block"
      *ngFor="let block of actionBlocks"
      draggable="true"
      (dragstart)="dragStart($event, block)"
    >
      {{ block.name }}
    </div>
  </div>

  <div
    class="board"
    id="board"
    (drop)="dropBlock($event)"
    (dragover)="allowDrop($event); dragOver($event)"
  >
    <div
      class="node"
      [style.left.px]="triggerBlock.left"
      [style.top.px]="triggerBlock.top"
      [attr.id]="triggerBlock.id"
    >
      {{ triggerBlock.label }}
    </div>

    <div
      *ngFor="let node of flowBlocks"
      class="node"
      [style.left.px]="node.left"
      [style.top.px]="node.top"
      [attr.id]="node.id"
    >
      {{ node.name }}
    </div>

    <div
      class="node"
      [style.left.px]="exitBlock.left"
      [style.top.px]="exitBlock.top"
      [attr.id]="exitBlock.id"
    >
      {{ exitBlock.label }}
    </div>
  </div>
</div>
